.DS_Store
/build
/captures
*.iml
*.swp
.gradle/*
.gradle/**/*
.idea/*
.idea/**/*
gradlew
gradlew.bat
gradle/*
gradle/**/*
gradle.properties
local.properties
.externalNativeBuild
/.idea/workspace.xml
/.idea/libraries
/local.properties

